/* School Page */
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 1440px;
}
/* background image */
.smiling-girl {
  background-image: url("../css_advanced/images/background.png");
  position: absolute;
  width: 1440px;
  height: 1093px;
  left: 0px;
  top: 0px; 
}
/* 
  ``` header ```
                */
header {
  position: absolute;
  width: 1282px;
  height: 1541.98px;
  left: -7px;
  top: 35.02px;
}
/* 
  ``` main part ```
                  */
/* logo */
.logo {
  background-image: url("../css_advanced/images/logo.png");
  position: absolute;
  width: 169px;
  height: 29.46px;
  left: 171.59px;
  top: 35.02px;  
}
/* menu */
.menu { 
  position: absolute;
  width: 234px;
  height: 15px;
  left: 1041px;
  top: 37px; 
  color: #FFF;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}
.courses {
  position: absolute;
  height: 15px;
  left: 0%;
  right: 78.63%;
  top: calc(50% - 15px/2);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
}
.pricing {
  position: absolute;
  height: 15px;
  left: 43.59%;
  right: 37.18%;
  top: calc(50% - 15px/2);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
}
.login {
  position: absolute;
  height: 15px;
  left: 85.47%;
  right: 0%;
  top: calc(50% - 15px/2);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFF
}

#getschooled {
  position: absolute;
  height: 151px;
  left: 26.18%;
  right: 26.32%;
  top: calc(50% - 151px/2 - 251px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 151px;

  text-align: center;

  color: #FFFFFF;
}
#smiles {
  position: absolute;
  height: 20px;
  left: 41.18%;
  right: 55.21%;
  top: calc(50% - 20px/2 - 175.5px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;
}
#grin {
  position: absolute;
  height: 20px;
  left: 48.89%;
  right: 48.61%;
  top: calc(50% - 20px/2 - 175.5px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;
}
#laugh {
  position: absolute;
  height: 20px;
  left: 55.35%;
  right: 41.25%;
  top: calc(50% - 20px/2 - 175.5px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;
}
/* register button */
.register-button {
  background: url("../css_advanced/images/button.png") no-repeat;
  cursor: pointer;
  border: none;
  position: absolute;
  left: 44.38%;
  right: 44.38%;
  top: 38.33%;
  bottom: 57.64%;
  background: transparent;

  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

#learn-pros {
  position: absolute;
  height: 40px;
  left: 41.94%;
  right: 39.93%;
  top: calc(50% - 40px/2 + 104.5px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #C271FF;
}

.pros-container {
  position: absolute;
  width: 1009px;
  height: 237px;
  left: 217px;
  top: 758px;
}

#pro-1 {
  position: absolute;
  left: 15.07%;
  right: 74.51%;
  top: 69.35%;
  bottom: 8.97%;
}
#pro-2 {
  position: absolute;
  left: 35.14%;
  right: 54.44%;
  top: 69.35%;
  bottom: 8.97%;
}
#pro-3 {
  position: absolute;
  left: 54.65%;
  right: 34.93%;
  top: 69.35%;
  bottom: 8.97%;
  
}
#pro-4 {
  position: absolute;
  left: 74.72%;
  right: 14.86%;
  top: 69.35%;
  bottom: 8.97%;
}

.subtitle {
  position: absolute;
  height: 48px;
  left: 0%;
  right: 0%;
  top: calc(50% - 48px/2 + 94.5px);

  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #FFFFFF;
}

.pro-name {
  position: absolute;
  height: 27px;
  left: 0%;
  right: 0%;
  top: calc(50% - 27px/2 + 55px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;

  text-align: center;

  color: #FFFFFF;
}

/* 
  ``` testimonials ```
                    */

/* background */
#testimonials {
  position: absolute;
  width: 1440px;
  height: 392px;
  left: -1px;
  top: 1093px;

  background: #C271FF;
}
.quote {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 56.96%;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;

  color: #FFFFFF;
}
.name {
  position: absolute;
  height: 34px;
  left: 0%;
  right: 82.33%;
  top: calc(50% - 34px/2 + 28px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;

  color: #FFFFFF;
}
.subtitle-2 {
  position: absolute;
  height: 34px;
  left: 0%;
  right: 77.4%;
  top: calc(50% - 34px/2 + 62px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;

  color: #FFFFFF;
}

/* 
  ``` tutorials ```
                  */
.tutorial-box {
  position: absolute;
  width: 1228px;
  height: 450px;
  left: 106px;
  top: 1572px;
}
#tutorial-header {
  position: absolute;
  height: 40px;
  left: 39.25%;
  right: 36.81%;
  top: calc(50% - 40px/2 - 205px);

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #071629;
}
#tutorial-1 {
  position: absolute;
  left: 4.72%;
  right: 74.51%;
  top: 25.56%;
  bottom: 0%;
}
#tutorial-2 {
  position: absolute;
  left: 28.01%;
  right: 51.22%;
  top: 25.56%;
  bottom: 0%;
}
#tutorial-3 {
  position: absolute;
  left: 51.22%;
  right: 28.01%;
  top: 25.56%;
  bottom: 0%;
}
#tutorial-4 {
  position: absolute;
  left: 74.43%;
  right: 4.8%;
  top: 25.56%;
  bottom: 0%;
}
.play-button {
  background: url("../css_advanced/images/play.png");
  position: absolute;
  width: 64px;
  height: 64px;
  left: 96px;
  top: 45px;
}
.tut-title {
  position: absolute;
  height: 20px;
  left: 5.1%;
  right: 53.33%;
  top: calc(50% - 20px/2 + 14.5px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #071629;
}
.sample-text {
  position: absolute;
  height: 48px;
  left: 5.1%;
  right: 0%;
  top: calc(50% - 48px/2 + 56.1px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */


  color: rgba(7, 22, 41, 0.501584);
}
.rating {
  background: url("../css_advanced/images/rating.png");
  position: absolute;
  width: 107px;
  height: 15px;
  left: 13px;
  top: 305px;
}
.time {
  position: absolute;
  height: 27px;
  left: 78.04%;
  right: 8.63%;
  top: calc(50% - 27px/2 + 143px);
  
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  
  text-align: right;
  
  color: #C271FF;
}
.video-author {
  position: absolute;
  height: 27px;
  left: 21.96%;
  right: 44.31%;
  top: calc(50% - 27px/2 + 109px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #C271FF;
}
.video-avatar {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 13px;
  top: 261px;  
}

/* 
  ``` membership ```
                  */
.membership-background {
  position: absolute;
  width: 1440px;
  height: 502px;
  left: 0px;
  top: 2109px;
  background: #071629;
}
#membership-header {
  position: absolute;
  height: 40px;
  left: 42.85%;
  right: 40.9%;
  top: calc(50% - 40px/2 - 161px);

  font-family: 'Source Sans Pro', san-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #C271FF;
}
#dot-one {
  position: absolute;
  left: 11.39%;
  right: 70.76%;
  top: 33.47%;
  bottom: 36.06%;
}
#dot-two {
  position: absolute;
  left: 31.11%;
  right: 51.04%;
  top: 33.47%;
  bottom: 36.06%;
}
#dot-three {
  position: absolute;
  left: 50.9%;
  right: 31.25%;
  top: 33.47%;
  bottom: 36.06%;
}
#dot-four {
  position: absolute;
  left: 70.76%;
  right: 11.39%;
  top: 33.47%;
  bottom: 36.06%;
}
.dot-header {
  position: absolute;
  height: 26px;
  left: 0.19%;
  right: 0.19%;
  top: calc(50% - 26px/2 - 1.5px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  text-align: center;

  color: #FFFFFF;
}
.dot-subtitle {
  position: absolute;
  height: 52px;
  left: 8.75%;
  right: 8.75%;
  top: calc(50% - 52px/2 + 50.5px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */

  text-align: center;

  color: #FFFFFF;
}

/* 
  ``` faq ```
                  */

.faq {
  position: absolute;
  width: 920px;
  height: 707px;
  left: 249px;
  top: 2678px;
  background-color: white;
}
.faq-header {
  position: absolute;
  height: 75px;
  left: 44.24%;
  right: 40.98%;
  top: calc(50% - 75px/2 - 316px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 75px;
  text-align: center;

  color: #071629;
}
#faq-title {
  position: absolute;
  height: 20px;
  left: 0%;
  right: 58.57%;
  top: calc(50% - 20px/2 - 111px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #071629;
}
#faq-body {
  position: absolute;
  height: 192px;
  left: 0%;
  right: 0%;
  top: calc(50% - 192px/2 + 25px);

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */


  color: rgba(7, 22, 41, 0.501584);
}
#q1 {
  position: absolute;
  left: 0%;
  right: 61.96%;
  top: 21.07%;
  bottom: 44.7%;
}
#q2 {
  position: absolute;
  left: 61.96%;
  right: 0%;
  top: 21.07%;
  bottom: 44.7%;
}
#q3 {
  position: absolute;
  left: 0%;
  right: 61.96%;
  top: 65.77%;
  bottom: 0%;
}
#q4 {
  position: absolute;
  left: 61.96%;
  right: 0%;
  top: 65.77%;
  bottom: 0%;
}

/* 
  ``` footer ```
                  */
.footer {
  position: absolute;
  visibility: hidden;
  width: 1440px;
  height: 249px;
  left: 0px;
  top: 3469px;
  background: #071629;
}